<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/courses/course.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="course-desc">
        <div class="row main-bar">
            <div class="col-md-8 col-12">
                <h1>Complete {{course.course_name}} Programming course:</h1>
                <h1>Beginer to Advance</h1>
                <h2 class="mt-3">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary inst_modal_button" data-bs-toggle="modal" data-bs-target="#instructorModal">
                    Instructor : {{instructor.instructor_name}}
                    </button>
                </h2>
                <p class="mt-4">Learn {{course.course_name}} with projects covering game & web development, web scraping, MongoDB, Django, PyQt, and data visualization! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, culpa? Quod incidunt nam possimus consequatur commodi eligendi quia illo a accusamus quis fuga nobis fugit, nemo veritatis, debitis iure dolorum!</p>
            </div>
        </div>
        <div class="sidebar mb-3">
            <figure>
                <img src="data: {{course.course_img.contentType}};base64,{{base64Encode course.course_img.data}}" alt="Tranding">
            </figure>
            <div class="sidebar-content">
                <div class="text-center">
                {{#if session }}
                    {{#if subscribed }}
                    <h1>Enjoy This Course ✌</h1>
                    {{else}}
                    <h1><i class="fas fa-inr"></i>&nbsp;{{course.course_price}}</h1>
                    <button class="btn" id="rzp-button">Buy</button>
                    {{/if}}
                {{else}}
                    <h1><i class="fas fa-inr"></i>&nbsp;{{course.course_price}}</h1>
                    <button class="btn" id="buy-button">Buy</button>
                {{/if}}
                    <h4>This course includes</h4>
                </div>
                <div class="div-span mt-4"><i class="fa-solid fa-layer-group"></i>&nbsp; 18 hours on-demand videos</div>
                <div class="div-span"><i class="fa-solid fa-video"></i>&nbsp; Access on mobile and TV</div>
                <div class="div-span"><i class="fa-solid fa-graduation-cap"></i>&nbsp; Certificate of completion</div>
            </div>
        </div>
        <div class="sidebar-2 mb-3">
            <div class="sidebar-content">
                <div class="text-center">
                    {{#if subscribed }}
                    <h1>Enjoy This Course ✌</h1>
                    {{else}}
                    <h1><i class="fas fa-inr"></i>&nbsp;{{course.course_price}}</h1>
                    <button class="btn" id="rzp-button">Buy</button>
                    {{/if}}
                    <h4>This course includes</h4>
                </div>
                <div class="div-span mt-4"><i class="fa-solid fa-layer-group"></i>&nbsp; 18 hours on-demand videos</div>
                <div class="div-span"><i class="fa-solid fa-video"></i>&nbsp; Access on mobile and TV</div>
                <div class="div-span"><i class="fa-solid fa-graduation-cap"></i>&nbsp; Certificate of completion</div>
                <hr class="mt-5">
                <h5 class="mt-1">Training 5 or more people?</h5>
                <p class="pt-2">Get your team access to 22,000+ top Udemy courses anytime, anywhere.</p>
            </div>
        </div>
    </div>




    <div class="row">
    <div class="container-box col-md-8 col-12">
        <div class="box-content">
            <h2>What you will learn</h2>
            <div class="content row">
                <div class="coloum col-md-6 col-12">
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Install {{course_name}} on Windows, Linux and Mac</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Use programming fundamentals to build a calculator</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Find additional packages to expand the functionality of {{course_name}}</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Code an app for web scraping</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Create web apps using Webpy</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Program a web browser using PyQt</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Develop a speech recognition app using machine learning</div>
                </div>    
                <div class="coloum col-md-6 col-12">    
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Setup an IDE</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Use advanced Python concepts to code a role playing game</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Install essential modules</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Create a NoSQL database using PyMongo</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Django web server setup</div>
                    <div><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Use Matplotlib and Pandas for data visualization</div>
                </div>
            </div>
            <div class="content-btn">
                <button id="toggleButton">Show More&nbsp;&nbsp;<i class="fa-solid fa-angle-down"></i></button>
            </div>
        </div>
    </div>
    </div>



    
    {{!-- <div class="lesson-list row">
        <h2>Course Content</h2>
        <ol class="list-group list-group col-md-8 col-12">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head active"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Introduction to Programming with Python</div>
                <div class="list-items active ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Introduction to Python</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Mac/Linux Installation</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Windows set-up</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Interpreted Vs compiled programming languages</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Creating and running our first Python script</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Choosing an integrated development environment (IDE)</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;How to share your code with us and get help with errors</div>
                    <div><span><i class="fas fa-pencil-alt"></i></span>&nbsp;&nbsp;Section 1 Quiz</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Programming Basics</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Basic types - numbers</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Basic types - strings</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Basic string manipulation</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Basic types - Boolean operators</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Lists (arrays)</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Dictionaries</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Variables</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Built-in functions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;User-defined functions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Adding arguments to a function</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Default arguments</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Keyword arguments</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Infinite arguments</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Return values from functions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;If, elif, else statements</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;For/while loops</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Importing libraries into a script</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">17</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Advance Python Concept</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;PEP guidelines</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Breaking out of while loops</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Continuing while loops</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Classes & objects</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Instance variables</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Class & instance variables</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;How to add comments to your code</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Importing modules from relative paths</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Additional Python Resources</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Reading and writing files in Python</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;JavaScript Object Notation (JSON)</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Using Virtualenv to create a virtual environment</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;The Python Package Index (PyPI)</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Essential Modules - Requests</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Introduction to Requests</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;HTTP GET variables</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Pillow the image processing library (PIL)</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Posting data</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Posting JSON</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Headers</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">6</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Project#1 Web Scraper</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Beautiful Soup</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Parsing our soup</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Directional navigation</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Image scraper</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Improvements to our web scraper</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Project#2</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Introduction and setup</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Inserting documents</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Bulk inserts</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Counting documents</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Multiple find conditions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Datetime and keywords</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Indexes</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">7</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Project#3 Getting Stated with PyMongo</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Introduction and setup</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Inserting documents</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Bulk inserts</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Counting documents</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Multiple find conditions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Datetime and keywords</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Indexes</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">7</span>
            </li>
        </ol>
    </div> --}}






















  
    <div class="lesson-list row">
        <h2>Course Content</h2>
        <ol class="list-group list-group col-md-8 col-12">

            {{#if subscribed }}
            {{#if course_topics.length }}
            {{#each course_topics }}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;{{this}}</div>
                <div class="list-items ms-4">
                    {{#if ../course_content.length }}
                    {{#each ../course_content }}
                    {{#if (eq this.topic_name ../this)}}
                          {{!-- <div>{{this._id}}</div> --}}
                          <div><a href="/video/{{this._id}}"><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;{{this.content_name}}</a></div>
                          {{!-- <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;{{this.content_name}}</div>
                          <div class="content-id" style="display: none;">{{this._id}}</div> --}}
                    {{/if}}
                    {{/each }} 
                    {{/if }}
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
            {{/each }} 
            {{/if }}
            {{else}}
               {{#if session }}
            {{#if course_topics.length }}
            {{#each course_topics }}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;{{this}}</div>
                <div class="list-items ms-4">
                    {{#if ../course_content.length }}
                    {{#each ../course_content }}
                    {{#if (eq this.topic_name ../this)}}     
                          <div class="rzp2_btn"><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;{{this.content_name}}</div>     
                    {{/if}}
                    {{/each }} 
                    {{/if }}
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
            {{/each }} 
            {{/if }}
               {{else}}
            {{#if course_topics.length }}
            {{#each course_topics }}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;{{this}}</div>
                <div class="list-items ms-4">
                    {{#if ../course_content.length }}
                    {{#each ../course_content }}
                    {{#if (eq this.topic_name ../this)}}        
                          <div class="course_btn"><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;{{this.content_name}}</div>     
                    {{/if}}
                    {{/each }} 
                    {{/if }}
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
            {{/each }} 
            {{/if }}    
               {{/if}}
            {{/if}}

            {{!-- {{#if course_topics.length }}
            {{#each course_topics }}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;{{this}}</div>
                <div class="list-items ms-4">
                    {{#if ../course_content.length }}
                    {{#each ../course_content }}
                    {{#if (eq this.topic_name ../this)}}
                           <div>{{this._id}}</div> 
                          <div><a href="/video/{{this._id}}"><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;{{this.content_name}}</a></div>
                          { <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;{{this.content_name}}</div>
                          <div class="content-id" style="display: none;">{{this._id}}</div> 
                    {{/if}}
                    {{/each }} 
                    {{/if }}
                    {<div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Introduction to Python</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Mac/Linux Installation</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Windows set-up</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Interpreted Vs compiled programming languages</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Creating and running our first Python script</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Choosing an integrated development environment (IDE)</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;How to share your code with us and get help with errors</div>
                    <div><span><i class="fas fa-pencil-alt"></i></span>&nbsp;&nbsp;Section 1 Quiz</div> 
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
            {{/each }} 
            {{/if }} --}}



            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Programming Basics</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Basic types - numbers</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Basic types - strings</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Basic string manipulation</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Basic types - Boolean operators</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Lists (arrays)</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Dictionaries</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Variables</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Built-in functions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;User-defined functions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Adding arguments to a function</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Default arguments</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Keyword arguments</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Infinite arguments</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Return values from functions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;If, elif, else statements</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;For/while loops</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Importing libraries into a script</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">17</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Advance Python Concept</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;PEP guidelines</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Breaking out of while loops</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Continuing while loops</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Classes & objects</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Instance variables</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Class & instance variables</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;How to add comments to your code</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Importing modules from relative paths</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Additional Python Resources</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Reading and writing files in Python</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;JavaScript Object Notation (JSON)</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Using Virtualenv to create a virtual environment</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;The Python Package Index (PyPI)</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Essential Modules - Requests</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Introduction to Requests</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;HTTP GET variables</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Pillow the image processing library (PIL)</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Posting data</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Posting JSON</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Headers</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">6</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Project#1 Web Scraper</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Beautiful Soup</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Parsing our soup</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Directional navigation</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Image scraper</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Improvements to our web scraper</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Project#2</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Introduction and setup</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Inserting documents</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Bulk inserts</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Counting documents</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Multiple find conditions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Datetime and keywords</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Indexes</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">7</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold  list-head"><i class="fa-solid fa-angle-down"></i>&nbsp;&nbsp;Project#3 Getting Stated with PyMongo</div>
                <div class="list-items  ms-4">
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Introduction and setup</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Inserting documents</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Bulk inserts</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Counting documents</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Multiple find conditions</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Datetime and keywords</div>
                    <div><span><i class="fas fa-tv"></i></span> &nbsp;&nbsp;Indexes</div>
                </div>
                </div>
                <span class="badge bg-primary rounded-pill">7</span>
            </li>
        </ol>
    </div>




























    
    <div class="row">
        <div class="requirments col-md-8 col-12">
            <h2>Requirments</h2>
            <ul class="ms-1 mt-3">
                <li>&nbsp;&nbsp;No previous programming experience necessary</li>
                <li>&nbsp;&nbsp;Access to a personal computer or equivalent system</li>
                <li>&nbsp;&nbsp;Internet access to download the necessary software</li>
            </ul>
        </div>
         
        <div class="description col-md-8 col-12">
            <h2>Description</h2>
            <p class=" mt-3">
                If you would like to get started programming with {{course.course_name}}, and are interested in the field of data science or coding, you are going to LOVE this course! Learn {{course.course_name}} as we cover the basics of programming, advanced {{course.course_name}} concepts, coding a calculator, essential modules, creating a "Final Fantasy-esque" RPG battle script, web scraping, PyMongo, WebPy development, Django web framework, GUI programming, data visualization, machine learning, and much more! With over 18 hours of HD video tutorials, this course was designed to fully immerse you in the Python language. So it is useful for both beginner and veteran programmers!
            </p>
        </div>
    </div>





    <div class="row">
        <div class="queries col-md-8 col-12">
            <h2>Queries</h2>
                {{#if session }}
                {{#if queries.length }}
                <div class="showing-queries mt-3 mb-3">
                    {{#each queries }}
                    <div class="query-asked mt-4">
                       <h5>query-asked</h5>
                       <div>
                         {{this.query_asked}}
                       </div>
                    </div>
                    {{#if this.query_reply}}
                    <div class="query-reply mt-1">
                        <h5 style="color: rgb(59, 74, 75);">query-replied</h5>
                        <div>
                         {{this.query_reply}}
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                {{/if}}
                {{/if}}
                <div class="mt-4" style="position: relative;">
                    <textarea name="query" id="query" rows="1" placeholder="Ask Query"></textarea>
                    <button type="submit" id="submitQuery" style="position: absolute; right: 18px; bottom: 8px; border: none;">
                        <i class="fa-solid fa-paper-plane" style="color: #1e3966;"></i>
                    </button>
                </div>
        </div>
    </div>



    <div class="row">
        <div class="feedbacks col-md-8 col-12">
            <h2>Feedback</h2>
                <div class="mt-4" style="position: relative;">
                    <textarea name="feedback" id="feedback" rows="1" placeholder="Give Feedback"></textarea>
                    <button type="submit" id="submitFeedback" style="position: absolute; right: 18px; bottom: 8px; border: none;">
                        <i class="fa-solid fa-paper-plane" style="color: #1e3966;"></i>
                    </button>
                </div>
        </div>
    </div>






<!-- Modal -->
<div class="modal fade" id="instructorModal" tabindex="-1" aria-labelledby="instructorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="instructorModalLabel">
            ~{{instructor.instructor_name}}&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-star" style="color: #bbcf57;"></i>
                <i class="fa-solid fa-star" style="color: #bbcf57;"></i>
                <i class="fa-solid fa-star" style="color: #bbcf57;"></i>
                <i class="fa-solid fa-star" style="color: #bbcf57;"></i>
                <i class="fa-regular fa-star"></i>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="text-center">
                <img src="../public/images/stu4.jpg" alt="">
                <div class="ps mt-1"><i class="fas fa-clipboard"></i>&nbsp;&nbsp;&nbsp;{{inst_courses}} Courses offered</div>
                <div class="ps"><i class="fas fa-clipboard"></i>&nbsp;&nbsp;&nbsp;20 Students enrolled</div>
                <div class="ps"><i class="fas fa-clipboard"></i>&nbsp;&nbsp;&nbsp;10 Students enrolled in this course</div>
            </div>
            {{!-- <div class="details">Total Courses Offered : {{inst_courses}}</div> --}}
            <div class="pro-sec1 mt-4">
                <h2>Qualifications</h2>
                <div class="p"><i class="fas fa-layer-group"></i>&nbsp;&nbsp;&nbsp;Masters in Computer Science</div>
                <div class="p"><i class="fas fa-layer-group"></i>&nbsp;&nbsp;&nbsp;PhD in Computer Science and Engineering</div>
                <h2 class="mt-4">Achievements</h2>
                <div class="p"><i class="fas fa-trophy"></i>&nbsp;&nbsp;&nbsp;Microsoft Certified Solution Developer</div>
                <div class="p"><i class="fas fa-trophy"></i>&nbsp;&nbsp;&nbsp;Oakridge University, Assited Faculty</div>
                <div class="p"><i class="fas fa-trophy"></i>&nbsp;&nbsp;&nbsp;Guest Lecture at Stanford University</div>
                {{!-- <div class="p"><i class="fas fa-trophy"></i>&nbsp;&nbsp;&nbsp;40 Students enrolled</div> --}}
            </div>
      </div>
    </div>
  </div>
</div>


     




      {{!-- script for feedback-section  --}}
    <script>
        document.getElementById('submitFeedback').addEventListener('click', function() {
            var feedbackContent = document.getElementById('feedback').value;
            const course_id = "{{course._id}}";
            const course_name = "{{course.course_name}}";
            // Replace 'your_query_route' with the actual route you want to redirect to
            window.location.href = '/feedback?course_id=' + encodeURIComponent(course_id) + '&course_name=' + encodeURIComponent(course_name) + '&feedback=' + encodeURIComponent(feedbackContent);
        });
    </script>
   
    
     {{!-- script for query-section  --}}
    <script>
        document.getElementById('submitQuery').addEventListener('click', function() {
            var queryContent = document.getElementById('query').value;
            const course_id = "{{course._id}}";
            const course_name = "{{course.course_name}}";
            // Replace 'your_query_route' with the actual route you want to redirect to
            window.location.href = '/query?course_id=' + encodeURIComponent(course_id) + '&course_name=' + encodeURIComponent(course_name) + '&query_asked=' + encodeURIComponent(queryContent);
        });
    </script>

    
     {{!-- script to redirect to login page  --}}
    <script>
        document.getElementById('buy-button').addEventListener('click', function() {
            // Redirect to the login route
            window.location.href = '/registration'; 
        });
    </script>

     {{!-- script to redirect to login page  --}}
    <script>
        // Get all elements with the class 'course-btn'
        var courseButtons = document.getElementsByClassName('course_btn');

        // Loop through the collection and add the event listener to each button
        for (var i = 0; i < courseButtons.length; i++) {
            courseButtons[i].addEventListener('click', function() {
                // Redirect to the registration route
                window.location.href = '/registration'; 
            });
        }
    </script>


     {{!-- script for payment order  --}}
    <script>
        axios.post('/order',{
            course: {
            // Include relevant course data here
            course_id: "{{course._id}}",
            course_name: "{{course.course_name}}",
            course_price: "{{course.course_price}}",
            // Add other properties as needed
        }
        }).then((info) => {
            console.log(info);

            var options = {
                "key": "rzp_test_wgrbE6Uimh0DjV", // Enter the Key ID generated from the Dashboard
                "amount": "{{course.course_price}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "{{course.course_name}}",
                "description": "Test Transaction",
                "image": "https://cdn.razorpay.com/logo.png",
                "order_id": info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "callback_url": `/is-order-complete?course_id={{course._id}}&course_name={{course.course_name}}&course_price={{course.course_price}}`,
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzp1 = new Razorpay(options);
            document.getElementById('rzp-button').onclick = function(e){
                rzp1.open();
                e.preventDefault();
            }
            // Get all elements with the class 'rzp2_btn'
        var rzpButtons = document.getElementsByClassName('rzp2_btn');

        // Loop through the collection and add the event listener to each button
        for (var i = 0; i < rzpButtons.length; i++) {
            rzpButtons[i].addEventListener('click', function (e) {
                rzp1.open();
                e.preventDefault();
            });
        }

        })

    </script>
    

     {{!-- script for becoming div acitve --}}
    <script>
        // Get all the container elements
        const containers = document.querySelectorAll('.list-head');
        const containers1 = document.querySelectorAll('.list-items');

        // Make the first container active
        containers[0].classList.add('active');
        containers1[0].classList.add('active');
    </script>


     {{!-- sidebar script  --}}
    <script>
        const sidebar = document.querySelector('.sidebar');
        const sidebar2 = document.querySelector('.sidebar-2');

        window.addEventListener('scroll', function() {
            
            const scrollPosition = window.scrollY;
            const screenWidth = window.innerWidth;

            if (scrollPosition > 350 && screenWidth > 764) {
                sidebar.style.display = 'none';
                sidebar2.style.display = 'block';
            } else{
                sidebar.style.display = 'block';
                sidebar2.style.display = 'none';
            }
        });
    </script> 


     {{!-- lesson list script  --}}
    <script>
        const list_items = document.querySelectorAll('.list-items')
        const list_heads = document.querySelectorAll('.list-head')
        const iconElements = document.querySelectorAll('.list-head i:nth-child(1)')

        list_heads.forEach((list_head,index)=>{
            list_head.addEventListener('click',(e)=>{

                if (list_head.classList.contains("active")) {
                    list_head.classList.remove('active');
                    list_items[index].classList.remove('active');
                    iconElements[index].classList.remove('fa-angle-up'); 
                    iconElements[index].classList.add('fa-angle-down'); 
                }
                else{
                    list_head.classList.add('active');
                    list_items[index].classList.add('active');
                    iconElements[index].classList.remove('fa-angle-down'); 
                    iconElements[index].classList.add('fa-angle-up'); 
                }

            })
        })
      </script>    



     {{!-- box-container script  --}}
    <script>
        const content = document.querySelector('.content');
        const button = document.getElementById('toggleButton');

        let isExpanded = false;

        button.addEventListener('click', function() {
            if (isExpanded) {
                content.style.height = '11rem'; // Collapse content
                button.textContent = 'Show More';
                const textNode = document.createTextNode('\u00A0');
                button.appendChild(textNode);
                const icon = document.createElement('i');
                icon.classList.add('fa-solid', 'fa-angle-down'); 
                button.appendChild(icon);
            } else {
                content.style.height = 'auto'; // Expand content to auto height
                button.textContent = 'Show Less';
                const textNode = document.createTextNode('\u00A0');
                button.appendChild(textNode);
                const icon = document.createElement('i');
                icon.classList.add('fa-solid', 'fa-angle-up'); 
                button.appendChild(icon);
            }
            
            isExpanded = !isExpanded;
        });
    </script>

     {{!-- nodejs scripts --}}
    <script type="text/javascript" src="../jq/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
</body>
</html>