<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/inst_css/style.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <title>Document</title>
</head>
<body>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                    <div class="row">
                        <div class="col-md-12 col-12 mx-auto">
                            <div class="row">
                                <div class="col-md-12 col-12 order-md-0 order-0 ">
                                    <figure>
                                        <img src="../public/images/persons/inst1.jpg" class="d-block w-100" alt="...">
                                    </figure>
                                </div>    
                                {{!-- {{right side}} --}}
                                <div class=" col-md-4 col-12 inst-text inst1 order-md-1 order-1 text-center">
                                        <h1>Become An Instructor</h1>
                                        <h1>COME TEACH WITH US</h1>
                                        <P>Become an instructor and change lives — including your own.<span class="bold-style"> We provide the tools and skills to teach what you love.✌</span></P>
                                        <a type="button" class="btn-style btn-primary" href="/instructor_reg">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="row">
                    <div class="col-md-12 col-12 mx-auto">
                        <div class="row">
                            <div class="col-md-12 col-12 order-md-0 order-0 ">
                                <figure>
                                    <img src="../public/images/persons/inst2.avif" class="d-block w-100" alt="...">
                                </figure>
                            </div>    
                            {{!-- {{right side}} --}}
                            <div class=" col-md-4 col-12 inst-text inst2 order-md-1 order-1 text-center">
                                    <h1>Let's Start Today</h1>
                                    <h1>UNVEIL YOUR TEACHING SKILLS</h1>
                                    <P>Become an instructor and change lives — including your own.<span class="bold-style"> We provide the tools and skills to teach what you love.✌</span></P>
                                    <a type="button" class="btn-style btn-primary" href="/instructor_reg">Let's Start</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>

        

         <div class="container mt-5">
            <div class="text-center">
                 <h1>So many reasons to start</h1>
            </div>
            <div class="row">
                <div class="col-md-4 reason col-12 text-center ">
                   <img src="../public/images/inst/board.svg" alt=""> 
                   <h3>Teach in your way</h3>
                   <p>Publish the course you want, in the way you want, and always have control of your own content.</p>
                </div>
                <div class="col-md-4 col-12 reason text-center">
                   <img src="../public/images/inst/learner.svg" alt=""> 
                   <h3>Inspired learner</h3>
                   <p>Teach what you know and help learners explore their interests, gain new skills, and advance their careers.</p>
                </div>
                <div class="col-md-4 col-12 reason text-center">
                   <img src="../public/images/inst/reward.svg" alt=""> 
                   <h3>Get rewarded</h3>
                   <p>Expand your professional network, build your expertise, and earn money on each paid enrollment.</p>
                </div>
            </div>
         </div>

        


         <div class="container begin-text">
            <div class="text-center">
                 <h1>How to begin!</h1>
            </div>
            <div class="tab_box row">
                <button class="tab_btn col-md-4">Plan your curriculum</button>
                <button class="tab_btn col-md-4">Record your videos</button>
                <button class="tab_btn col-md-4">Launch your course</button>
                <div class="line col-md-4"></div>
                <div class="line-org col-md-12"></div>
            </div>
            <div class="content_box">
                <div class="content active">
                    <div class="row">
                        <div class="col-md-10 col-12 mx-auto">
                            <div class="row">
                                <div class="col-md-6 col-12 tab-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                                    <p>You start with your passion and knowledge. Then choose a promising topic with the help of our Marketplace Insights tool.</p>
                                    <p>The way that you teach — what you bring to it — is up to you.</p>
                                    <h3><b>How we help you</b></h3>
                                    <p>We offer plenty of resources on how to create your first course. And, our instructor dashboard and curriculum pages help keep you organized.</p>
                                </div>
                                {{!-- {{right side}} --}}
                                <div class="col-md-6 col-12 tab-text order-md-1 order-0">
                                    <figure>
                                        <img src="../public/images/inst/tab1.svg" alt="tab_image">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-10 col-12 mx-auto">
                            <div class="row">
                                <div class="col-md-6 col-12 tab-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                                    <p>Use basic tools like a smartphone or a DSLR camera. Add a good microphone and you’re ready to start</p>
                                    <p>If you don’t like being on camera, just capture your screen. Either way, we recommend two hours or more of video for a paid course</p>
                                    <h3><b>How we help you</b></h3>
                                    <p>Our support team is available to help you throughout the process and provide feedback on test videos</p>
                                </div>
                                {{!-- {{right side}} --}}
                                <div class="col-md-6 col-12 tab-text order-md-1 order-0">
                                    <figure>
                                        <img src="../public/images/inst/tab2.svg" alt="tab_image">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-10 col-12 mx-auto">
                            <div class="row">
                                <div class="col-md-6 col-12 tab-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                                    <p>Gather your first ratings and reviews by promoting your course through social media and your professional networks.</p>
                                    <p>Your course will be discoverable in our marketplace where you earn revenue from each paid enrollment.</p>
                                    <h3><b>How we help you</b></h3>
                                    <p>Our custom coupon tool lets you offer enrollment incentives while our global promotions drive traffic to courses. There’s even more opportunity for courses chosen for Udemy Business.</p>
 
                                </div>
                                {{!-- {{right side}} --}}
                                <div class="col-md-6 col-12 tab-text order-md-1 order-0">
                                    <figure>
                                        <img src="../public/images/inst/tab3.svg" alt="tab_image">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>




         <div class=" start-text">
            <div class="text-center">
                <h1 class="pt-5">Become an instructor today</h1>
                <p class="col-md-4 col-8 mx-auto">Join one of the world’s largest online learning marketplaces.</p>
                <a type="button" href="/instructor_reg">Get Started</a>
            </div>
         </div>



         {{>footer}}

       


      {{!-- tab module script  --}}
      <script>
        const tabs = document.querySelectorAll('.tab_btn')
        const all_content = document.querySelectorAll('.content')

        tabs.forEach((tab,index)=>{
            tab.addEventListener('click',(e)=>{
                tabs.forEach(tab=>{tab.classList.remove('active')});
                tab.classList.add('active');

                var line = document.querySelector('.line');
                line.style.width = e.target.offsetWidth + "px";
                line.style.left = e.target.offsetLeft + "px";


                all_content.forEach(content=>{content.classList.remove('active')});
                all_content[index].classList.add('active');
            })
        })
      </script>

      {{!-- nodejs scripts --}}
    <script type="text/javascript" src="../jq/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
</body>
</html>